<div class="video-content">
    <div class="top-header span_top">
        <div class="logo">
            <a href="index.html"><img src="/images/logo.png" alt="" /></a>
            <p>Movie Theater</p>
        </div>
        <div class="search v-search">
            @{
                Html.RenderPartial("~/Views/Shared/_SimpleSearch.cshtml");
            }
        </div>
        <div class="clearfix"></div>
    </div>
