<form method="post" action="/Home/SimpleSearch">
    <input type="text" name="txtSearch"
           value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}" />
    <input type="submit" value="">
</form>
